[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "night-owl.vim"]
	path = night-owl.vim
	url = https://github.com/haishanh/night-owl.vim
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
